body {
    background-color: cornsilk;
    color: #000000;

}
/*nav{ 
    position: fixed;
    width: 100%;
    border: 2px solid whitesmoke;
    background-color: white;
    padding: 0px;
}

nav li{     
    padding: 11px;
    text-align: center;
    width: 35%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70%;
}

nav ul{
    display:flex;
}
*/
.dropdown {
    position: static;
}

.dropbtn {
    font-size: 125%;
    border: none;
    outline: none;
    color: rgb(206, 252, 136);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #f9f9f9;
    min-width: 75%;
    box-shadow: 0px 8px 16px 0px orangered;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    background-color: white;
    padding: none; 
    text-decoration: none;
    display: block;
    text-align: justify;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: none;
}

#skip {
    text-decoration: underline;
    border: solid white;
    position: relative;
    top: -40px
}

#skip:focus{
    top: 100px;
  }

h1 {
    font-size: 115%;
    font-weight: 200;
    text-decoration: underline;
    text-align: center;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif;
    
}

h2, h3 { 
    font-size: 115%; 
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 2%;
    font-weight: bold;
    
}

.petname {
    background-color: whitesmoke;
    animation-name: colorchange;
    animation-duration: 4s;
    text-align: center;
    top: 40px;

  }

.body{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.body p{
    padding: 2%;
    line-height: 115%;
    font-size: 110%;
    font-family: Arial, Helvetica, sans-serif;
}


.mainimage{
    width: 70%;
    display: grid;
    align-items: center;
    padding: 5% 1% 5% 15%;
}

.photogallery{
    display:grid;
    grid-template-columns: 45% 45%;
    justify-content: space-around;
    align-items: stretch;
}

.photogallery .thumbnail{
    grid-column: 1/2;
}

ol, li {
    list-style-type: square;
    list-style-position: inside;
    background-color: rgb(219, 156, 74);
    line-height: 150%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
}


.thumbnail {
    border: 5px solid rgb(219, 156, 74);
    border-radius: 15px;
}

/* this is for the travel page */
figcaption {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(219, 156, 74);
    padding: 3%
}

.body .placeimages {
    display: grid;
    width: 70%;
    padding: 5% 1% 5% 15%;
}

/* this is only for pets page  */

.body .petsphoto{ 
    text-align: left;
}

.photogallery .likestitle{
    grid-row: 1;
    grid-column: 2;
}

.photogallery .likes {
    grid-row: 2;
    grid-column: 2;
}

/* This is only for the recipes page */
.additionalfood{
    padding: 2%;
    width: 55%;
}

.recipebody p{
    padding: 2%
}

.travelcar{
    align-items: center;
    display: flex;
    margin-left: 49%;
    font-size: 150%;
}

.caticon{
    align-items: center;
    display: flex;
    margin-left: 49%;
    font-size: 150%;
}

.recipeicon{
    align-items: center;
    display: flex;
    margin-left: 49%;
    font-size: 150%;
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .mainimage.animationimage{
        display: none;
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }

    .petname{
        animation: none;
        -webkit-transition: none; /* sets to default setting */
        transition: none;        /* sets to default setting */
       }
  }

  @keyframes colorchange {
    from {background-color: whitesmoke;}
    to {background-color: rgb(219, 156, 74);}
  }

  @media screen and (min-width: 776px){

	.body{
		background-color: rgb(255, 251, 245);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Add  CSS for the sticky navigation bar */
    .navbar {
        position: sticky;
        top: 0;
        z-index: 100;
        background-color: white;
        border: 2px solid whitesmoke;
        padding: 0;
    }
    .navbar ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    .navbar li {
        flex-grow: 1;
        text-align: center;
        padding: 0;
        font-size: larger;
    }
    
    .navbar a {
        display: block;
        padding: 15px 20px; /* Adjust padding as needed */
        text-decoration: none;
        text-align: center;
        font-size: 80%;

    }

    .navbar a.active {
        /* Your unique styles for the current page link */
        color: rgb(24, 16, 2); /* Change color to your preference */
        font-weight: bold;
        /* Add any other styles you want for the current page link */
    }

    h2 .petname{
        grid-column-end: span 2;
    }
    .mainimage{
        width: 90%;
        grid-column: 1;
        align-items: justify;
        padding: 5% 1% 5% 15%;
    }

    body p {
        grid-column: 2;
    }

    .photogallery{
        display:grid;
        grid-template-columns: 45% 45%;
        justify-content: space-around;
        align-items: stretch;
        grid-column: span 2;

    }
    
    .photogallery .thumbnail{
        grid-column: 1/2;
    }
    
    .photogallery .likestitle{
        grid-row: 1;
        grid-column: 2;
    }
    
    .photogallery .likes {
        grid-row: 2;
        grid-column: 2;
    }

    figcaption {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(219, 156, 74);
        padding: 3%
    }

    .recipebody p{
        text-align: center;
    }
    
    .travel-page .body{
        display: block;
    }

    .placeimages{
        width: 55%;
    }

    .travel-page .mainimage{
        width: 65%;
    }

    .recipebody li{
        text-align: center;
        font-size: 85%;
        font-weight:600;
        line-height: 40%;
        list-style-type:disc;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
}
h2.fancy-gradient {
        font-size: 35px; 
        background: linear-gradient(45deg, rgb(91, 25, 3), rgb(214, 153, 68), rgb(179, 174, 16),rgb(76, 130, 47),rgb(1, 45, 1),rgb(1, 23, 1));
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        background-size: 200% 100%;
        animation: gradientAnimation 4s linear infinite;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px;
        border-radius: 5px;
    }

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (min-width: 1200px){
    .navbar a {
        display: block;
        padding: 15px 20px;
        text-decoration: none;
        text-align: center;
        font-size: 100%;
    }
    
    .mainimage{
        width: 50%;
        padding: 5% 1% 5% 15%;
        margin: 0 auto;
        align-self: center;
    }
    .body .placeimages{
        width: 30%;
        padding: 0%;
        border: solid 3px orangered;
        margin: 0 auto;
        align-self: center;
    }

    .body .placeimages:hover{
        border: solid 5px rgb(50, 33, 33);
    }

    .photogallery .thumbnail:hover{
        border: solid 5px rgb(50, 33, 33);
    }
    .petbody .mainimage {
        padding: 0%;
        margin: 0 auto;
        align-self: center;
    }
    .petbody .mainimage:hover{
        border: solid 5px rgb(50, 33, 33);
    }

    .recipebody p{
        padding: 1%;
        line-height: 125%;
        font-size: 125%;
        font-family: Arial, Helvetica, sans-serif;
    }

    .recipebody li {
        text-align: center;
        font-size: 125%;
        line-height: 5%;
        font-weight: 100;
        list-style-type: disc;
    }

    .recipebody .mainimage{
        padding: 0%;
        margin: 0 auto;
        align-self: center;
    }

    .additionalfood{
        width: 50%;
        padding: 0%;
        margin: 0 auto;
        align-self: center;
    }
    .recipebody .mainimage:hover{
        border: solid 5px rgb(50, 33, 33);
    }

    .additionalfood:hover{
        border: solid 5px rgb(50, 33, 33);
    } 
    
    .body p{
        font-family: 'Raleway', sans-serif;
    }

    ol, li {
        list-style-type: square;
        list-style-position: inside;
        background-color: rgb(219, 156, 74);
        line-height: 150%;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        padding: 1%;
    }

    .card-opening:hover {
        transform: rotate(-10deg); 
        transition: transform 0.3s ease;
      }

    .body.firstbody {
        background-image: url('../images/background-image.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .body.firstbody p{
        background-color: rgba(255, 255, 255, 0.9); /* fourth value for transparency */
        padding: 10px;
        border-radius: 5px;
    }   
    
    .body.firstbody figcaption {
        background-color: rgba(255, 255, 255, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    } 

    .body.firstbody h3 {
        background-color: rgba(255, 255, 255, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    }

    .body.secondbody {
        background-image: url('../images/sofia-background.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .body.secondbody p {
        background-color: rgba(255, 255, 255, 0.9); /* fourth value for transparency */
        padding: 10px;
        border-radius: 5px;
    }   
    
    .body.secondbody figcaption {
        background-color: rgba(255, 255, 255, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    }

    .body.secondbody h3 {
        background-color: rgba(255, 255, 255, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    }

    .body.thirdbody {
        background-image: url('../images/dubai-background.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .body.thirdbody p {
        background-color: rgba(255, 255, 255, 0.9); /* fourth value for transparency */
        padding: 10px;
        border-radius: 5px;
    }   
    
    .body.thirdbody figcaption {
        background-color: rgba(255, 255, 255, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    }

    .body.thirdbody h3 {
        background-color: rgba(255, 255, 255, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    }
    .body.fourthbody {
        background-image: url('../images/jasper-background.jpg');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .body.fourthbody p {
        background-color: rgba(255, 255, 255, 0.9); /* fourth value for transparency */
        padding: 10px;
        border-radius: 5px;
    }   
    
    .body.fourthbody figcaption {
        background-color: rgba(255, 255, 255, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    }

    .body.fourthbody h3 {
        background-color: rgba(255, 255, 255, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    }

    .body.firstbody h2 {
        font-size: 200%;
        background-color: rgba(125, 172, 97, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    }

    .body.secondbody h2 {
        font-size: 200%;
        background-color: rgba(235, 135, 42, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    }

    .body.thirdbody h2 {
        font-size: 200%;
        background-color: rgba(76, 114, 212, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    }

    .body.fourthbody h2 {
        font-size: 200%;
        background-color: rgba(76, 182, 212, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    }

    h2.fancy-gradient {
        font-size: 200%;
        background-color: rgba(76, 182, 212, 0.9); /* fourth value for transparency */
        padding: 20px;
        border-radius: 5px;
    }


    .mainimage.card-opening {
        transition: transform 0.3s ease;
    }

    .mainimage.card-opening:hover {
        transform: rotate(-10deg);
    }

    .placeimages {
        transition: border 0.3s ease;
    }

    .placeimages:hover {
        border: solid 5px rgb(50, 33, 33);
    }
    .recipebody {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 2%;
    }

    .recipe {
        grid-column: span 2; 
        font-size: 115%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 2%;
        font-weight: bold;
    }

    .recipebody .steps {
        grid-column: span 2; 
        font-size: 115%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 2%;
    }
    .additional-images {
        grid-column: span 2; /* Span both columns */
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 10px;
        margin-top: 20px;
    }
    
    .additional-images h2 {
        margin-bottom: 10px; /* Add margin to separate the header from images */
    }
    
    .additional-images img {
        width: 100%;
        height: auto;
    }



}

   






 